<div class="searchBar">
  <div class="container">
    <form action="/search" class="search__form" role="search" method="POST">
      <input type="search" aria-label="Search" id="searchInput" name="searchTerm" placeholder="Search the site...">
    </form>
    <div id="searchClose">Close</div>
  </div>
</div>