<h1 class="about-title">About Me</h1>
<img src="/img/buse_blog.png" class="about-image" alt="">

<div class="about-section">
  <h4 class="about-explanation">I am Buse Nur Çetin, a 19-year-old student enrolled in the Computer Programming program at Adnan Menderes University. Currently, I am in my second year of studies. With a strong passion for technology, particularly in the realm of frontend development, I am dedicated to honing my skills and expanding my knowledge in this field. Exploring the intricacies of web design and software development, I am committed to becoming proficient in creating intuitive and visually appealing user interfaces. Continuously seeking to stay updated with the latest industry trends and best practices, I aspire to contribute meaningfully to the ever-evolving landscape of digital innovation.</h4>
</div>

<hr>

<div class="services">
  <h1 class="services-title">Services</h1>
</div>

<div class="container-about">
  <div class="box">
    <img src="/img/software_.png" class="icon-image" alt="">
    <h3>Web Design</h3>
  </div>
  <div class="box">
    <img src="/img/software_.png" class="icon-image" alt="">
    <h3>Software</h3>
  </div>
  <div class="box">
    <img src="/img/software_.png" class="icon-image" alt="">
    <h3>Application</h3>
  </div>
</div>
<br>
<br>
<br>
<hr>
<div class="follow">
  <h1 class="follow-text">Follow Me!</h1>
  <a href=""><img src="img/twitter1.png" class="contact-icon" alt=""></a>
  <a href=""><img src="img/linkedin.png" class="contact-icon" alt=""></a>
  <a href=""><img src="https://img.icons8.com/ios-glyphs/60/github.png" class="contact-icon" alt="github"/></a>
  <a href=""><img src="img/medium.png" class="contact-icon"  alt=""></a>
</div>
<br>
<br>
<br>
<hr>