<div class="contact-container">
  <form action="https://api.web3forms.com/submit" method="POST" class="contact-left">
    <div class="contact-left-title">
      <h2 class="contact-title">Get in touch</h2>
    </div>
    
    <input type="hidden" name="access_key" value="9ad3eb4c-b23d-4833-a6ac-82c0becaee88">
    <input type="text" name="name" placeholder="Your Name" class="contact-inputs" required>
    <input type="text" name="email" placeholder="Your Email" class="contact-inputs" required>
    <textarea name="message" placeholder="Your Message" class="contact-inputs" required></textarea>
    <button type="submit" class="submit">Submit </button>
  </div>
  </form>
  
</div>
